@media (min-width: 480px) and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #fcf9ed;
    font-family: "Avenir", sans-serif;
  }

  a {
    text-decoration: none;
    transition: color 0.7s ease;
    color: #5f5e5e;
  }

  a:hover {
    color: #c0b6ac;
    text-decoration: underline;
    font-weight: bold;
  }

  .png {
    display: none !important;
  }

  #teamWeb {
    display: none !important;
  }

  /*NAVIGATION*/
  #menu li {
    padding: 5px;
    display: block;
    color: #fcf9ed;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 15%;
    font-size: 60%;
    padding-top: 30px;
  }

  #menu {
    list-style-type: none;
    position: fixed;
    background-color: black;
    margin-top: -58%;
    z-index: 1;
    height: 60px;
    width: 100%;
    text-align: center;
  }

  #menu li:hover {
    color: #ffd21f;
  }

  #checkbox {
    display: none;
  }

  /*HEADER*/
  #header {
    position: relative;
  }

  #header h1 {
    color: #ffd21f;
    position: absolute;
    margin-top: -40%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 5em;
  }

  /*MEET THE TEAM */
  #team {
    position: relative;
    display: block;
  }

  #team h2 {
    color: #fcf9ed;
    text-align: center;
    font-size: 2.4em;
    position: absolute;
    background-color: #ffd21f;
    width: 100%;
    margin-top: 40%;
    height: 90px;
  }

  #team h2 br {
    display: none;
  }

  #team span {
    display: block;
    width: 10%;
    height: 5px;
    position: absolute;
    text-align: center;
    background: #fcf9ed;
    margin-left: 45%;
    margin-right: 45%;
  }

  #theTeam {
    width: 100%;
    text-align: center;
  }

  #team p {
    color: #5f5e5e;
    position: absolute;
    text-align: center;
    font-size: 120%;
    margin-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
  }

  /*ALLISON AND SORAYA*/
  #alli {
    position: relative;
    display: block;
    width: 100%;
    clear: both;
    margin-top: 49%;
  }

  #alliTitle {
    color: #5f5e5e;
    position: relative;
    text-align: center;
    font-size: 90%;
    width: 50%;
  }

  #alliTitle br {
    display: none;
  }

  #alliBio {
    color: #5f5e5e;
    text-align: center;
    position: relative;
    width: 46%;
    margin: 2%;
    float: left;
  }

  #alliBio p {
    text-align: center;
    font-size: 0.9em;
  }

  .alliImg {
    width: 50%;
    float: left;
  }

  .sorayaImg {
    width: 50%;
    float: left;
  }

  .notab {
    display: none;
  }

  /*SORAYA*/
  #soraya {
    position: relative;
    width: 50%;
    float: left;
    margin-top: -20%;
  }

  #sorayaTitle br {
    display: none;
  }

  #sorayaTitle {
    color: #5f5e5e;
    text-align: center;
    font-size: 90%;
    position: relative;
    margin-top: 31%;
  }

  #sorayaBio {
    color: #5f5e5e;
    text-align: center;
    display: block;
    position: relative;
    width: 46%;
    margin: 2%;
    float: left;
  }

  #sorayaBio p {
    text-align: center;
    font-size: 0.9em;
  }

  #quote {
    display: none;
  }

  /*PORTFOLIO*/
  #portfolio {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 40%;
    text-align: center;
  }

  #portfolioText {
    color: #fcf9ed;
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 2.4em;
    width: 100%;
  }

  #portfolioAbout {
    height: 300px;
    text-align: center;
  }

  #portfolioAbout p {
    text-align: center;
    color: #5f5e5e;
    font-size: 1.1em;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    float: left;
    margin-top: 7%;
  }

  #webDesign {
    background-color: #ffd21f;
    display: block;
    text-align: right;
    height: 300px;
  }

  #webDesign h2 {
    color: #5f5e5e;
    font-size: 2.4em;
    padding: 20px;
    margin-right: 20px;
    text-align: center;
  }

  #webDesign p {
    color: #5f5e5e;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.4em;
    line-height: 1.3em;
  }

  .webDesignImg {
    display: block;
    position: relative;
  }

  #webDesignText {
    background-color: #c0b6ac;
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    margin-top: 55%;
    margin-bottom: -20%;
  }

  #webDesignText p {
    color: #5f5e5e;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.2em;
    padding: 3%;
  }

  #graphicDesign {
    background-color: #ffd21f;
    display: block;
    text-align: center;
    height: 300px;
  }

  #graphicDesign h2 {
    color: #5f5e5e;
    font-size: 2.4em;
    margin-left: 5px;
    padding-top: 5%;
    text-align: center;
    margin-top: 20%;
  }

  #graphicDesign p {
    color: #5f5e5e;
    text-align: center;
    font-size: 1.4em;
    line-height: 1.2em;
    position: absolute;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
  }

  #graphicDesignText {
    width: 100%;
    background-color: #c0b6ac;
  }

  #mi {
    cursor: pointer;
  }

  #logotext1 {
    color: #fcf9ed;
    text-align: center;
  }

  #seaStudios {
    cursor: pointer;
  }

  #logotext2 {
    color: #fcf9ed;
    text-align: center;
  }

  #seaStudios:hover {
    opacity: 0.8;
  }

  #mi:hover {
    opacity: 0.8;
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.6em;
  }

  .content .rs {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .square {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    background-color: #c0b6ac;
    overflow: hidden;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 105px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #5f5e5e;
    background-color: rgba(0, 0, 0, 0.9);
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
  }

  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .close {
    position: absolute;
    text-decoration: underline;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
  }

  .close:hover {
    color: #efefef;
    text-decoration: none;
    cursor: pointer;
  }

  #lightbox {
    text-align: center;
    padding-bottom: 15px;
  }

  .modal-content {
    width: 80%;
  }

  /*PHOTOGRAPHY*/
  #photography {
    background-color: #ffd21f;
    height: 300px;
    margin-top: 100%;
  }

  #photography h2 {
    color: #5f5e5e;
    font-size: 2.4em;
    margin-right: 20px;
    text-align: center;
    padding-top: 10%;
  }

  #photography p {
    color: #5f5e5e;
    text-align: center;
    padding: 20px;
    font-size: 1.4em;
    line-height: 1.3em;
  }

  #photographyImgs {
    cursor: pointer;
  }

  #photographyImgs img:hover {
    opacity: 0.7;
  }

  /*CONTACT US*/
  #contact h2 {
    color: #fcf9ed;
    text-align: center;
    font-size: 2.4em;
    margin-top: -50%;
  }

  #contactForm {
    float: left;
    letter-spacing: 0.5px;
    font: 15px arial, sans-serif;
    line-height: 3em;
    padding: 10%;
    width: 80%;
    margin-top: 30%;
  }

  #contactForm label {
    display: block;
    color: #5f5e5e;
  }

  #submit {
    color: #5f5e5e;
    padding: 5px;
    border-radius: px;
    background-color: #ffd21f;
    width: 20% !important;
    cursor: pointer;
  }

  #contactForm input {
    width: 100%;
    height: 30px;
  }

  #comments {
    width: 100%;
  }

  /*FOOTER*/
  #bottom {
    background-color: #c0b6ac;
    width: 100%;
    height: 80px;
    margin-top: 150%;
  }

  footer img {
    height: 50%;
    margin-top: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
}
@media (min-width: 769px) {
  .png {
    display: none !important;
  }

  .noweb {
    display: none;
  }

  #checkbox {
    display: none;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #fcf9ed;
    font-family: "Avenir", sans-serif;
  }

  a {
    text-decoration: none;
    transition: color 0.7s ease;
    color: #76944c;
  }

  a:hover {
    color: #fcf9ed;
    text-decoration: underline;
    font-weight: bolder;
  }

  /*NAVIGATION*/
  #menu li {
    padding: 5px;
    display: block;
    color: #fcf9ed;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    float: left;
    width: 18%;
    font-size: 80%;
    padding-top: 70px;
  }

  #menu {
    list-style-type: none;
    position: fixed;
    background-color: black;
    margin-top: -58%;
    z-index: 1;
    height: 100px;
    width: 100%;
    text-align: center;
  }

  #menu li:hover {
    color: #ffd21f;
  }

  /*HEADER*/
  #header {
    position: relative;
  }

  #header h1 {
    color: #ffd21f;
    position: absolute;
    top: 20%;
    font-size: 1000%;
    margin-left: 3%;
    line-height: 135px;
    overflow: hidden;
  }

  #headerImg {
    width: 100%;
  }

  /*MEET THE TEAM */
  #teamWeb {
    width: 100%;
    clear: both;
    overflow: hidden;
    margin-bottom: 100px;
  }

  #teamImgWeb {
    width: 50%;
    height: auto;
    float: left;
    clear: both;
  }

  #teamWeb p {
    float: right;
    text-align: center;
    width: 40%;
    font-size: 1.2em;
    padding: 5%;
    font-family: "Avenir", sans-serif;
    padding-top: 135px;
  }

  #theTeam p {
    display: none;
  }

  #team {
    position: relative;
    display: block;
  }

  #team h2 {
    color: #fcf9ed;
    text-align: center;
    font-size: 2.4em;
    position: absolute;
    background-color: #ffd21f;
    width: 100%;
    margin-top: 40%;
    height: 125px;
    padding-top: 25px;
    text-shadow: 1px 1px 3px #5f5e5e;
  }

  #team h2 br {
    display: none;
  }

  #team span {
    display: block;
    width: 10%;
    height: 5px;
    position: absolute;
    text-align: center;
    background: #fcf9ed;
    margin-left: 45%;
    margin-right: 45%;
  }

  #theTeam {
    width: 100%;
    text-align: center;
  }

  #team p {
    color: #5f5e5e;
    position: absolute;
    text-align: center;
    font-size: 120%;
    margin-left: 10%;
    padding-right: 10%;
    margin-top: 10%;
  }

  .contactBtn {
    margin: 0 auto;
    text-align: center;
    background-color: #FFD21F;
    border: none;
    margin: 75px;
    margin-top: 90px;
    color: #dark-grey;
    font-weight: lighter;
    font-size: 0.8em;
    padding: 10px;
    width: 100px;
    height: 40px;
  }

  #teamBios p {
    color: #5f5e5e;
  }

  .squares {
    width: 320px;
  }

  .squares p {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-left: 15px;
  }

  /*ALLISON AND SORAYA*/
  .noweb {
    display: none;
  }

  .contents {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1em;
  }

  .squares {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    background-color: #fcf9ed;
  }

  .rss {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  /*SORAYA*/
  #quote {
    display: none;
  }

  /*PORTFOLIO*/
  #portfolio {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 20%;
    text-align: center;
  }

  #portfolioText {
    color: #fcf9ed;
    position: absolute;
    top: 60%;
    text-align: center;
    font-size: 3em;
    width: 100%;
  }

  #portfolioAbout {
    height: 300px;
    text-align: center;
  }

  #portfolioText br {
    display: none;
  }

  #portfolioAbout p {
    text-align: center;
    color: #5f5e5e;
    font-size: 1.5em;
    line-height: 1.6em;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    float: left;
    margin-top: 7%;
  }

  #webDesign {
    background-color: #ffd21f;
    display: block;
    text-align: right;
    height: 300px;
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  #webDesign h2 {
    color: #5f5e5e;
    font-size: 2.4em;
    padding: 20px;
    text-align: right;
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  #webDesign p {
    color: #5f5e5e;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.3em;
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
    padding-left: 5%;
    padding-right: 20%;
  }

  .webDesignImg {
    z-index: -1;
    position: relative;
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
    width: 50%;
    float: right;
    margin-top: 15%;
  }

  #webDesignText {
    position: relative;
    display: block;
    height: 300px;
    width: 50%;
    float: left;
    margin-top: 5%;
    z-index: -1;
  }

  #webDesignText p {
    color: #5f5e5e;
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 10%;
  }

  #graphicDesign {
    background-color: #ffd21f;
    display: block;
    text-align: center;
    height: 300px;
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
    margin-top: 45%;
  }

  #graphicDesign h2 {
    color: #5f5e5e;
    font-size: 2.4em;
    margin-left: 5px;
    padding-top: 5%;
    text-align: center;
    margin-top: 20%;
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  #graphicDesign p {
    color: #5f5e5e;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    position: absolute;
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  #graphicDesignText {
    width: 100%;
    background-color: #c0b6ac;
    margin-top: 10%;
  }

  #mi {
    margin-top: 8%;
    cursor: pointer;
  }

  #logotext1 {
    background-color: #c0b6ac;
    color: #fcf9ed;
    text-align: center;
    height: 245px;
    padding-top: 75px;
    font-size: 1.3em;
    margin-top: 26px;
  }

  #seaStudios {
    margin-top: 8%;
    cursor: pointer;
  }

  #logotext2 {
    background-color: #c0b6ac;
    color: #fcf9ed;
    text-align: center;
    height: 245px;
    width: 100%;
    padding-top: 75px;
    font-size: 1.3em;
    margin-top: 26px;
  }

  #seaStudios:hover {
    opacity: 0.8;
  }

  #mi:hover {
    opacity: 0.8;
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 1.6em;
  }

  .content .rs {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .square {
    float: left;
    position: relative;
    width: 25%;
    padding-bottom: 25%;
    background-color: #fcf9ed;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {
    opacity: 0.7;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 105px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #5f5e5e;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
  }

  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
  }

  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .close {
    position: absolute;
    text-decoration: underline;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
  }

  .close:hover {
    color: #efefef;
    text-decoration: none;
    cursor: pointer;
  }

  #lightbox {
    text-align: center;
    padding-bottom: 15px;
  }

  .modal-content {
    width: 80%;
  }

  /*MEMBER MODAL*/
  .modals {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 120px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-contents {
    background-color: #ffd21f;
    margin: auto;
    padding: 20px;
    border: 3px solid #5f5e5e;
    width: 70%;
  }

  .closes, .closed {
    color: #c0b6ac;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .closes:hover,
.closes:focus, .closed:hover, .closed:focus {
    color: #5f5e5e;
    text-decoration: none;
    cursor: pointer;
  }

  /*PHOTOGRAPHY*/
  #photography {
    background-color: #ffd21f;
    height: 300px;
    margin-top: 45%;
    -ms-transform: skewY(-5deg);
    -webkit-transform: skewY(-5deg);
    transform: skewY(-5deg);
  }

  #photography h2 {
    color: #5f5e5e;
    font-size: 2.4em;
    margin-right: 20px;
    text-align: center;
    padding-top: 10%;
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  #photography p {
    color: #5f5e5e;
    text-align: center;
    padding: 20px;
    font-size: 1.2em;
    line-height: 1.3em;
    -ms-transform: skewY(5deg);
    -webkit-transform: skewY(5deg);
    transform: skewY(5deg);
  }

  #photographyImgs {
    cursor: pointer;
  }

  #photographyImgs img:hover {
    opacity: 0.7;
  }

  /*CONTACT US*/
  #contact h2 {
    color: #fcf9ed;
    text-align: center;
    font-size: 2.4em;
    margin-top: -50%;
  }

  #contactForm {
    float: left;
    letter-spacing: 0.5px;
    font: 20px arial, sans-serif;
    line-height: 3em;
    padding: 10%;
    width: 80%;
    margin-top: 30%;
  }

  #contactForm label {
    display: block;
    color: #5f5e5e;
  }

  #submit {
    color: #5f5e5e;
    padding: 5px;
    border-radius: 6px;
    background-color: #ffd21f;
    width: 20% !important;
    cursor: pointer;
  }

  #contactForm input {
    width: 100%;
    height: 30px;
  }

  #comments {
    width: 100%;
  }

  /*FOOTER*/
  #bottom {
    background-color: #c0b6ac;
    width: 100%;
    height: 80px;
    margin-top: 100%;
  }

  footer img {
    height: 50%;
    margin-top: 20px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    filter: brightness(0) invert(1);
  }

  /*SLIDER*/
  #imageContainer {
    width: 800px;
    height: 700px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 5%;
  }

  #photoImages {
    position: relative;
    width: 10400px;
    right: 0px;
    transition: all 0s;
    -webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
  }

  #photoImages img {
    float: left;
  }

  #next {
    float: right;
    width: 40px;
    background: #fff;
    margin-right: 20px;
    cursor: pointer;
    margin-top: -15%;
  }

  #previous {
    float: left;
    width: 40px;
    background: #fff;
    margin-left: 20px;
    cursor: pointer;
    margin-top: -15%;
  }

  #slider {
    margin-top: 20px;
    background: #000000;
  }
}
/*POP UP*/
#sorayaB, #allisonB {
  padding: 5px;
  cursor: pointer;
  border-color: #5f5e5e;
}

@media (max-width: 479px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #fcf9ed;
    font-family: "Avenir", sans-serif;
  }

  a {
    text-decoration: none;
    transition: color 0.7s ease;
    color: #5f5e5e;
    font-weight: bold;
  }

  a:hover {
    color: #fcf9ed;
    text-decoration: underline;
  }

  .jpg {
    display: none !important;
  }

  #teamWeb {
    display: none !important;
  }

  /* MENU TOGGLE*/
  #menuToggle {
    display: block;
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #5f5e5e;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(47deg) translate(2px, -1px);
    background: #5f5e5e;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-47deg) translate(0, -1px);
  }

  #menu {
    position: fixed;
    margin: -100px 0 0 -50px;
    width: 200px;
    padding-top: 100px;
    background: #ffd21f;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.7s;
  }

  #menu li {
    padding: 15px;
    font-size: 1.3em;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  /*HEADER*/
  #header {
    position: relative;
  }

  #header h1 {
    color: #ffd21f;
    position: absolute;
    font-size: 3em;
    margin-left: 20px;
    margin-top: -150px;
    text-shadow: 0px 0px 20px #5f5e5e, 0px 0px 30px #c0b6ac;
  }

  /*MEET THE TEAM */
  #team {
    position: relative;
    display: block;
  }

  #team h2 {
    color: #fcf9ed;
    position: absolute;
    top: 5%;
    text-align: right;
    font-size: 2.4em;
    margin-left: 40%;
    margin-right: 10px;
    text-shadow: 0px 0px 1px #ffd21f, 0px 0px 1px #ffd21f;
  }

  #team span {
    display: block;
    width: 100px;
    height: 5px;
    position: absolute;
    top: 107%;
    background: #fcf9ed;
    margin-left: 45%;
  }

  .teamImg {
    -webkit-filter: contrast(45%);
    filter: contrast(45%);
    display: block;
  }

  #team p {
    color: #fcf9ed;
    position: absolute;
    text-align: right;
    font-size: 120%;
    margin-left: 10%;
    padding-right: 10%;
    margin-top: -240px;
  }

  /*ALLISON*/
  #alli {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -100px;
    clear: both;
  }

  #alliTitle {
    color: #fcf9ed;
    position: absolute;
    top: 60%;
    text-align: right;
    font-size: 2.4em;
    margin-left: 50%;
  }

  #alliBio {
    color: #5f5e5e;
    display: block;
    text-align: right;
    height: 300px;
  }

  #alliBio p {
    text-align: right;
    display: block;
    font-size: 1.1em;
    padding: 30px;
  }

  /*SORAYA*/
  #soraya {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -100px;
    clear: both;
  }

  #sorayaTitle {
    color: #fcf9ed;
    position: absolute;
    top: 60%;
    text-align: right;
    font-size: 2.4em;
    margin-left: 60%;
  }

  #sorayaBio {
    color: #5f5e5e;
    position: block;
    text-align: right;
    height: 300px;
  }

  #sorayaBio p {
    position: block;
    text-align: right;
    font-size: 1.1em;
    padding: 30px;
  }

  #quote {
    background-color: #c0b6ac;
    display: block;
    text-align: right;
    height: 400px;
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    border-bottom-color: #ffd21f;
    border-bottom-width: 30px;
    border-bottom-style: solid;
  }

  #quote p {
    display: block;
    text-align: center;
    font-size: 2em;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    color: #fcf9ed;
    padding-top: 30%;
    font-style: italic;
    line-height: 50px;
    letter-spacing: 4px;
  }

  /*PORTFOLIO*/
  #portfolio {
    position: relative;
    display: block;
    width: 100%;
    margin-top: -100px;
    clear: both;
  }

  #portfolioText {
    color: #fcf9ed;
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 2.4em;
    margin-left: 80px;
  }

  #portfolioAbout {
    height: 300px;
  }

  #portfolioAbout p {
    text-align: center;
    color: #5f5e5e;
    font-size: 1.1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  .greyLine {
    background-color: #c0b6ac;
    height: 40px;
    width: 100%;
    display: block;
    position: relative;
  }

  #webDesign {
    background-color: #ffd21f;
    display: block;
    text-align: right;
    height: 400px;
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
  }

  #webDesign h2 {
    color: #5f5e5e;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    font-size: 2.4em;
    padding: 20px;
    margin-right: 20px;
  }

  #webDesign p {
    color: #5f5e5e;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    font-size: 1.1em;
    line-height: 1.3em;
  }

  .webDesignImg {
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    display: block;
    position: relative;
    padding-top: 150px;
  }

  #webDesignText {
    background-color: #c0b6ac;
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    margin-top: 380px;
  }

  #webDesignText p {
    color: #5f5e5e;
    text-align: center;
    padding: 30px;
    font-size: 1.1em;
    line-height: 1.2em;
  }

  #graphicDesign {
    background-color: #ffd21f;
    display: block;
    text-align: right;
    height: 400px;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
  }

  #graphicDesign h2 {
    color: #5f5e5e;
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    font-size: 2.4em;
    padding: 20px;
    padding-top: 40px;
    margin-left: 5px;
    text-align: left;
    margin-top: 100px;
  }

  #graphicDesign p {
    color: #5f5e5e;
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    text-align: center;
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.2em;
    position: absolute;
    display: block;
  }

  #graphicDesignText {
    width: 100%;
    background-color: #c0b6ac;
    margin-top: 18%;
  }

  #mi {
    cursor: pointer;
  }

  #logotext1 {
    color: #fcf9ed;
    text-align: center;
  }

  #seaStudios {
    cursor: pointer;
  }

  #logotext2 {
    color: #fcf9ed;
    text-align: center;
  }

  #seaStudios:hover {
    opacity: 0.8;
  }

  #mi:hover {
    opacity: 0.8;
  }

  .content {
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .content .rs {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }

  .square {
    float: left;
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    background-color: #c0b6ac;
    overflow: hidden;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  #myImg:hover {
    opacity: 0.7;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #5f5e5e;
    background-color: rgba(0, 0, 0, 0.9);
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
  }

  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.3s;
    animation-name: zoom;
    animation-duration: 0.3s;
  }

  @-webkit-keyframes zoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  .close {
    position: absolute;
    text-decoration: underline;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s;
  }

  .close:hover {
    color: #efefef;
    text-decoration: none;
    cursor: pointer;
  }

  #lightbox {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
  }

  .modal-content {
    width: 100%;
  }

  /*PHOTOGRAPHY*/
  #photography {
    background-color: #ffd21f;
    height: 400px;
    -ms-transform: skewY(-20deg);
    -webkit-transform: skewY(-20deg);
    transform: skewY(-20deg);
    margin-top: 135%;
  }

  #photography h2 {
    color: #5f5e5e;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    font-size: 2.4em;
    padding: 20px;
    margin-right: 20px;
    text-align: right;
    padding-top: 20%;
  }

  #photography p {
    color: #5f5e5e;
    -ms-transform: skewY(20deg);
    -webkit-transform: skewY(20deg);
    transform: skewY(20deg);
    text-align: center;
    padding: 20px;
    padding-top: 20px;
    font-size: 1.1em;
    line-height: 1.3em;
  }

  #photographyImgs {
    margin-top: 20%;
    cursor: pointer;
  }

  #photographyImgs img:hover {
    opacity: 0.7;
  }

  /*CONTACT US*/
  #contact h2 {
    color: #fcf9ed;
    text-align: center;
    font-size: 2.4em;
    margin-top: -50%;
  }

  #contactForm {
    float: left;
    letter-spacing: 0.5px;
    font: 15px arial, sans-serif;
    line-height: 3em;
    padding: 10%;
    width: 80%;
    margin-top: 30%;
  }

  #contactForm label {
    display: block;
    color: #5f5e5e;
  }

  #submit {
    color: #5f5e5e;
    padding: 5px;
    border-radius: px;
    background-color: #ffd21f;
    width: 20% !important;
    cursor: pointer;
  }

  #contactForm input {
    width: 100%;
    height: 20px;
  }

  #comments {
    width: 100%;
  }

  /*FOOTER*/
  #bottom {
    background-color: #c0b6ac;
    width: 100%;
    height: 50px;
    margin-top: 150%;
  }

  footer img {
    height: 40%;
    margin-top: 10px;
    margin-right: 15px;
    float: right;
    cursor: pointer;
    filter: brightness(0) invert(1);
  }
}
.hidden {
  display: none;
}

/*# sourceMappingURL=main.css.map */
