$main-app-color: rgb(252, 249, 237); //beige
$main-font-color: rgb(118, 148, 76); //dark-green
$nav-links: white;
$yellow-font-color: rgb(255, 210, 31); //yellow
$light-green: rgb(200, 219, 164); //light green
$light-grey: rgb(192, 182, 172);  //light grey
$font-stock: "Helvetica Neue", Avenir, sans-serif;
