@media (min-width: 769px) {

.png
{
display:none !important;
}

.noweb
{
	display:none;
}

#checkbox
	{
		display:none;
	}

body
{
  margin: 0;
  padding: 0;
  background-color: $main-app-color;
  font-family: $font-stock; 
}

a
{
  text-decoration: none;
  transition: color 0.7s ease;
  color: $main-font-color;
}

a:hover
{
  color: $main-app-color;
  text-decoration: underline;
  font-weight: bolder;
}

/*NAVIGATION*/

#menu li
{
  padding: 5px;
  display: block;
  color: $main-app-color;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
  float: left;
  width: 18%;
  font-size: 80%;
  padding-top: 70px;
}


#menu{
	list-style-type: none;
	position: fixed;
	background-color: black;
	margin-top: -58%;
	z-index: 1;
	height: 100px;
	width: 100%;
	text-align: center;
}

#menu li:hover{
	color: $yellow-font-color;
}







/*HEADER*/

#header
{
position: relative;
}

#header h1
{
color:$yellow-font-color;
position: absolute;
top: 20%;
font-size: 1000%;
margin-left: 3%;
line-height: 135px;
overflow: hidden;
}

#headerImg{
	width: 100%;
}








	
	/*MEET THE TEAM */


	#teamWeb
	{
		width: 100%;
		clear: both;
		overflow: hidden;
		margin-bottom: 100px;
	}
	
	#teamImgWeb
	{
	  width: 50%;
	  height: auto;
		float: left;
		clear: both;
	}
	
	#teamWeb p
	{
		float: right;
		text-align: center;
		width: 40%;
		font-size: 1.2em;
		padding: 5%;
		font-family: $font-stock;
		padding-top: 135px;
	}

	#theTeam p{
		display:none;
	}


	#team
	{
		position: relative;
		display: block;
	}
	
	#team h2
	{
		color: $main-app-color;
		text-align: center;
		font-size: 2.4em; 
		position: absolute;
		background-color: $yellow-font-color;
		width: 100%;
		margin-top: 40%;
		height: 125px;
		padding-top: 25px;
		text-shadow: 1px 1px 3px $dark-grey;
	}


	#team h2 br{
		display: none;
	}
	
	#team span /*line under meet the team*/
	{
	  display: block;
	  width: 10%;
	  height: 5px;
	  position: absolute;
	  text-align: center;
	  background: $main-app-color;
	  margin-left: 45%;
	  margin-right: 45%;

	}

	#theTeam
	{
		width: 100%;
		text-align: center;
	}
	

	
	#team p
	{
		color: $dark-grey;
		position: absolute;
		text-align: center;
		font-size: 120%; 
		margin-left: 10%;
		padding-right: 10%;
		margin-top: 10%;
	}

	.contactBtn
	{
		margin: 0 auto;
		text-align: center;
		background-color: #FFD21F;
		border: none;
		margin: 75px;
		margin-top: 90px;
		color: #dark-grey;
		font-weight: lighter;
		font-size: 0.8em;
		padding: 10px;
		width: 100px;
		height: 40px;

	}

	#teamBios p
	{
		color: $dark-grey;
	}
	
	.squares
	{
		width: 320px;
	}

	.squares p
	{
		width: 90%;
		margin: 0 auto;
		text-align: center;
		padding-left: 15px;

	}
	
	
	/*ALLISON AND SORAYA*/
	

	.noweb
	{
		display: none;
	}

	.contents{
		position:absolute;
		height:100%;
		width:100%; 
		font-size: 1.0em;
	}

	.squares{
		float:left;
		position: relative;
		width: 25%;
		padding-bottom : 25%; 
		background-color: $main-app-color;
	}


	.rss{
		width:auto;
		height:auto;
		max-height:100%;
		max-width:100%;
	}


	
	
	
	/*SORAYA*/
	
		
		
		//QUOTE
		
		
	#quote
	{
		display:none;
	}
		
	
	
	
		
		
		
	
	/*PORTFOLIO*/
	
	#portfolio
	{
		position: relative;
		display: block;
		width: 100%;
		margin-top: 20%;
		text-align: center;
	}
		
	#portfolioText
	{
		color: $main-app-color;
		position: absolute;
		top: 60%;
		text-align: center;
		font-size: 3em;
		width: 100%
	}
		
	#portfolioAbout
	{
		height: 300px;
		text-align: center;
			
	}

	#portfolioText br{
		display:none;
	}
		
	#portfolioAbout p
	{
		text-align: center;
		color: $dark-grey;
		font-size: 1.5em;
		line-height: 1.6em;
		padding-left: 10%;
		padding-right: 10%;
		width: 80%;
		float: left;
		margin-top: 7%;
			
	}
		
	//WEB DESIGN
		
	
		#webDesign
		{
		background-color: $yellow-font-color;
		display: block;
		text-align: right;
		height: 300px;
		-ms-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		transform: skewY(-5deg);
		}
		
		#webDesign h2
		{
		color: $dark-grey; 
		font-size: 2.4em;
		padding: 20px;
		text-align: right;
		-ms-transform: skewY(5deg);
		-webkit-transform: skewY(5deg);
		transform: skewY(5deg);
		}
		
		
		#webDesign p{
		color: $dark-grey; 
		text-align:center;
		font-size: 1.2em;
		line-height: 1.3em;
		-ms-transform: skewY(5deg);
		-webkit-transform: skewY(5deg);
		transform: skewY(5deg);
		padding-left: 5%;
		padding-right: 20%;
		}
		
		
		.webDesignImg
		{
		z-index: -1;
		position: relative;
		-ms-transform: skewY(5deg);
		-webkit-transform: skewY(5deg);
		transform: skewY(5deg);
		width: 50%;
		float: right;
		margin-top: 15%;

		}
		
		#webDesignText
		{
			position: relative;
			display: block;
			height: 300px;
			width: 50%;
			float: left;
			margin-top: 5%;
			z-index: -1;
		}
		
		#webDesignText p
		{
			color: $dark-grey;
			text-align: center;
			font-size: 1.3em;
			line-height: 1.5em;
			padding: 10%;

		}
		
		
		
		//Graphic Design
		
		#graphicDesign
		{
		background-color: $yellow-font-color;
		display: block;
		text-align: center;
		height: 300px;
		-ms-transform: skewY(5deg);
		-webkit-transform: skewY(5deg);
		transform: skewY(5deg);
		margin-top:45%;
		}
		
		#graphicDesign h2
		{
		color: $dark-grey; 
		font-size: 2.4em;
		margin-left: 5px;
		padding-top: 5%;
		text-align: center;
		margin-top: 20%;
		-ms-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		transform: skewY(-5deg);
		}
		
		
		#graphicDesign p{
		color: $dark-grey; 
		text-align:center;
		font-size: 1.2em;
		line-height: 1.2em;
		position:absolute;
		display: block;
		padding-right: 5%;
		padding-left: 5%;
		-ms-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		transform: skewY(-5deg);
		}
		
		//LightBox
		
		
		#graphicDesignText
		{
			width: 100%;
			background-color: $light-grey;
			margin-top: 10%;
		}
	
		#mi
		{
			margin-top: 8%;
			cursor: pointer;
		}
	
		#logotext1
		{
			background-color: $light-grey;
			color: $main-app-color;
			text-align: center;
			height: 245px;
			padding-top: 75px;
			font-size: 1.3em;
			margin-top: 26px;
			
		}
		
		#seaStudios
		{
			margin-top: 8%;
			cursor: pointer;
		}
	
		#logotext2
		{
			background-color: $light-grey;
			color: $main-app-color;
			text-align: center;
			height: 245px;
			width: 100%;
			padding-top: 75px;
			font-size: 1.3em;
			margin-top: 26px;
		}
	
		#seaStudios:hover
	{
		opacity: 0.8;
	}
	
	#mi:hover
	{
		opacity: 0.8;
	}
	
	.content
	{
		position:absolute;
		height:100%;
		width:100%; 
		font-size: 1.6em;
	}
	
	.content .rs{
		width:auto;
		height:auto;
		max-height:100%;
		max-width:100%;
	}
	
	.square {
		float:left;
		position: relative;
		width: 25%;
		padding-bottom : 25%; 
		background-color: $main-app-color;
	}
	
		
		
	
	
	//modal
	
	
	#myImg {
		border-radius: 5px;
		cursor: pointer;
		transition: 0.3s;
	}
	
	#myImg:hover {opacity: 0.7;}
	
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 105px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: $dark-grey;
		background-color: rgba(0,0,0,0.9);
	}
	

	.modal-content {
		margin: auto;
		display: block;
		width: 30%;
		max-width: 700px;
	}
	

	#caption {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
		text-align: center;
		color: #ccc;
		padding: 10px 0;
		height: 150px;
	}
	

	.modal-content, #caption 
	{ 
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.3s;
		animation-name: zoom;
		animation-duration: 0.3s;
	}
	
	@-webkit-keyframes zoom {
		from {
			-webkit-transform:scale(0)
			} 
		to {
			-webkit-transform:scale(1)
			}
	}
	
	@keyframes zoom {
		from {
			transform:scale(0)
			} 
		to {
			transform:scale(1)
			}
	}
	
	
	.close {
		position: absolute;
		text-decoration: underline;
		top: 30px;
		right: 50px;
		color: #fff;
		font-size: 20px;
		font-weight: bold;
		transition: 0.2s;
	}
	
	.close:hover
	{
		color: #efefef;
		text-decoration: none;
		cursor: pointer;
	}
	
	#lightbox
	{
		text-align: center;
		padding-bottom: 15px;
	}
	
	 .modal-content 
	 {
			width: 80%;
	 }

	 /*MEMBER MODAL*/
	 .modals {
		display: none;
		position: fixed;
		z-index: 1;
		padding-top: 120px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.5);
	}

	.modal-contents {
		background-color: $yellow-font-color;
		margin: auto;
		padding: 20px;
		border: 3px solid $dark-grey;
		width: 70%;
	}

	.closes, .closed {
		color: $light-grey;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	
	.closes:hover,
	.closes:focus, .closed:hover, .closed:focus {
		color: $dark-grey;
		text-decoration: none;
		cursor: pointer;
	}
	 
	
	
	/*PHOTOGRAPHY*/
	#photography
		{
		background-color: $yellow-font-color;
		height: 300px;
		margin-top: 45%;
		-ms-transform: skewY(-5deg);
		-webkit-transform: skewY(-5deg);
		transform: skewY(-5deg);
		}
		
		#photography h2
		{
		color: $dark-grey; 
		font-size: 2.4em;
		margin-right: 20px;
		text-align: center;
		padding-top: 10%;
		-ms-transform: skewY(5deg);
-webkit-transform: skewY(5deg);
transform: skewY(5deg);
		}
	
		#photography p{
			color: $dark-grey; 
			text-align:center;
			padding: 20px;
			font-size: 1.2em;
			line-height: 1.3em;
			-ms-transform: skewY(5deg);
			-webkit-transform: skewY(5deg);
			transform: skewY(5deg);
			}
	
		#photographyImgs{
			cursor: pointer;
		}
	
		#photographyImgs img:hover{
			opacity: 0.7;
		}
	
		/*CONTACT US*/
	
		#contact h2{
			color: $main-app-color; 
			text-align: center;
			font-size: 2.4em;
			margin-top: -50%;
		}
		
		#contactForm
		{
			float: left;
			letter-spacing: 0.5px;
			font: 20px arial, sans-serif;
			line-height: 3em;
			padding: 10%;
			width: 80%;
			margin-top: 30%;
		}
	
		#contactForm label
		{
			display: block;
			color: $dark-grey;
		}
	
		#submit{
			color: $dark-grey;
			padding: 5px;
			border-radius: 6px;
			background-color:$yellow-font-color;
			width: 20% !important;
			cursor: pointer;
		}
	
		#contactForm input{
			width: 100%;
			height: 30px;
		}

		#comments{
			width: 100%;
		}
	
		/*FOOTER*/
	
	
		#bottom{
			background-color:$light-grey;
			width: 100%;
			height: 80px;
			margin-top: 100%;
		}
	
		
	
		footer img{
			height: 50%;
			margin-top: 20px;
			margin-right: 15px;
			float: right;
			cursor: pointer;
			filter: brightness(0) invert(1);
		}

		/*SLIDER*/
	#imageContainer 
{ 
	width: 800px; 
	height: 700px; 
	margin: 0 auto; 
	overflow: hidden; 
	margin-top: 5%;
}

#photoImages 
{ 
	position: relative; 
	width: 10400px;
	right: 0px;
	transition: all 0s; 
	-webkit-transition: all 0s;
    -moz-transition: all 0s;
    -o-transition: all 0s;
}

#photoImages img 
{ 
	float: left; 
}



#next
{
	float: right;
	width: 40px;
	background: #fff;
	margin-right:20px;
	cursor: pointer;
	margin-top: -15%;
}

#previous
{
	float: left;
	width: 40px;
	background: #fff;
	margin-left:20px;
	cursor: pointer;
	margin-top: -15%;
}

#slider
{
	margin-top: 20px;
	background: #000000;
}

	
}


/*POP UP*/

#sorayaB, #allisonB
{
	padding: 5px;
	cursor: pointer;
	border-color: $dark-grey;
}
